    .owl-container{
      max-width: 1000px;
      margin: 0 auto;
      .item{
      background: #390000;
      color: #fff;
      height: 10rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    }
